/* **** Generic **** */

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
	text-align: justify;
	height: 100%;
	background-color: #252839;
	text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 385px) {
	body {
		font-size: 0.7em;
	}
}

.row {
	min-height: 100vh;
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;
	max-width: none;
}

a.btn {
	text-decoration: none;
	color: #005c9e;
	font-size: 1.2em;
	border: 1px solid #fff;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

.reveal-modal img {
	max-height: 500px;
}

.floating-button {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 0;
}

.navbar * {
	font-size: 22px !important;
}


/* **** END Generic **** */


/* **** Hero **** */

.hero {
	background: url("../img/background.jpg");
	background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15);
	height: 100%;
}

.intro-text {
	color: rgba(255, 255, 255, 1);
	text-align: center;
	padding-top: 20%;
}

.intro-text p {
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
}

.intro-text h2 {
	color: #fff;
	font-size: 3em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	margin: 0 0 20px;
	font-family: 'Oleo Script', cursive;
}


/* **** END Hero **** */


/* **** Sections **** */

.about,
.work,
.contact {
	padding: 9% 0 0 0;
	position: relative;
	z-index: 1;
}

.about {
	background-color: #89bdd3;
}

.work {
	background-color: #e3e0cf;
}

.contact {
	padding: 15%;
	background-color: #f2b632;
}

.contact h1 {
	margin-bottom: 1em;
}

.about img {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	object-fit: cover;
	margin-top: 3em;
}

.work img:hover {
	opacity: 0.5;
}

.work img {
	height: 150px;
	width: 300px;
	object-fit: cover;
}

.work li {
	height: 200px;
	overflow: hidden;
	text-align:
}

.icons {
	text-align: center;
}

.icons ul {
	position: relative;
	display: inline-block;
	padding: 1em 0.75em 1em 0.75em;
	font-size: 2.5em;
}

.icons ul li {
	display: inline-block;
}

.icons ul li a:hover {
	color: #e3e0cf;
}

.icons ul li a {
	display: inline-block;
	background: none;
	text-align: center;
	border-radius: 100%;
	border: 0;
	margin-right: 10px;
	color: inherit;
}

#cv{
	margin-top: 2em;
}